@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Marca - Nueva Paleta */
  /* para el color brand main será un gradiente del #227d52 al #13452d en alineación diagonal vertical*/
  --color-brand-main: #227d52;       /* Verde Bosque Profundo */
  --color-brand-main-gradient: linear-gradient(to top, #227d52, #13452d);     
  --color-brand-secondary: #06402B;  /* Verde Bosque (igual al main) */
  --color-brand-contrast: #06402B;   /* Alias para compatibilidad */
  
  /* Fondos y Diseño */
  --color-background: #ffffff;       /* Blanco Grisáceo */
  --color-card-stats-fill: #F3F4F6;        /* Blanco Puro */
  --color-card-fill: #ffffff;        /* Blanco Puro */
  --color-card-border: #e5e7eb;      /* Gris Claro */
  
  /* Textos - Nuevos */
  --color-text-main: #1f2937;        /* Carbón */
  --color-text-secondary: #6b7280;   /* Gris Medio */
  
  /* Estados */
  --color-status-success: #22c55e;
  --color-status-warning: #f97316;
  --color-status-danger: #ef4444;

  /* Badges de Stock */
  --color-badge-stock-text: #059669;
  --color-badge-stock-bg:   #D1FAE5;
  --color-badge-low-text:   #EA580C;
  --color-badge-low-bg:     #FFEDD5;
  --color-badge-out-text:   #DC2626;
  --color-badge-out-bg:     #FEE2E2;
  
  /* Tema Claro (Variables de soporte para legacy) */
  --color-brand-dark-main: #06402b;
  --color-brand-primary: #06402b;
  --color-dark-main: #ffffff;        
  --color-dark-card: #ffffff;        
  --color-dark-sidebar: #ffffff;     
  --color-dark-border: #e5e7eb;      
  --color-dark-input: #ffffff;       

  /* Tipografía */
  --font-family-sans: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}